*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(gray, black);
}
section{
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@keyframes test{
    0% {background-color:transparent; left:0px; top:0px;}
    5.5% {background-color: rgb(36, 36, 194);left:0px; top:200px;}
    11% {background-color: transparent;left:0px; top:0px;}
    16.5% {background-color: rgb(224, 23, 23);left:0px; top:-200px;}
    22% {background-color: transparent;left:0px; top:0px;}
    27.5% {background-color: rgb(219, 131, 15);left:200px; top:0px;}
    33% {background-color: transparent;left:0px; top:0px;}
    38.5% {background-color:rgb(29, 74, 223);left:-200px; top:0px;}
    44% {background-color: transparent;left:0px; top:0px;}
    49.5% {background-color: rgb(27, 233, 9);left:200px; top:200px;}
    55% {background-color: transparent;left:0px; top:0px;}
    60.5% {background-color: rgb(165, 16, 165);left:-200px; top:-200px;}
    66% {background-color:transparent;left:0px; top:0px;}
    71.5% {background-color:rgb(25, 124, 216);left:-200px; top:200px;}
    77% {background-color:transparent;left:0px; top:0px;}
    82.5% {background-color:rgb(201, 28, 100);left:200px; top:-200px;}
    88% {background-color:transparent;left:0px; top:0px;}
}
div{
    width: 25px;
    height: 25px;
    background-color: black;
    display: flex;
    position: relative;
}
.white-box{
    background-color:transparent;
    animation-name: test;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
div:hover{
    background-image: radial-gradient( purple, blueviolet);
}
/*
0, 100%{
    color: rgba(255,54,54,1)1
}
15%{
    color: rgba(237,139,68,1)2
}
20%{
    color: rgba(253,189,58,1)3
}
25%{
    color: rgba(227,245,74,1)4
}
30%{
    color: (164,245,74,1)5
}
35%{
    color: rgba(74,245,74,1)6
}
40%{
    color: rgba(74,245,120,1)7
}
45%{
    color: rgba(74,245,174,1)8
}
50%{
    color: rgba(74,245,243,1)9
}

//rgba(255,54,54,1) 15%,1
//rgba(237,139,68,1) 20%,2
//rgba(253,189,58,1) 25%,3
rgba(227,245,74,1) 30%,4
rgba(164,245,74,1) 35%,5
rgba(74,245,74,1) 40%,6
rgba(74,245,120,1) 45%,7
rgba(74,245,174,1) 50%,8
rgba(74,245,243,1) 55%,9
rgba(74,158,245,1) 60%,10
rgba(74,97,245,1) 65%,11
rgba(74,97,245,1) 70%, 12
rgba(117,74,245,1) 75%, 13
rgba(191,74,245,1) 80%, 14
rgba(245,74,238,1) 85%, 15
rgba(245,74,189,1) 90%, 16
rgba(245,74,138,1) 95%, 17
rgba(245,74,74,1) 100%);18
*/